{% extends 'base.html' %}
{% load static %}

{% block body %}

			<div class="archive-page-wrapper">
				<!-- page header [strat] -->
				<section class="page-header">
					<div class="container inner-box">
						<!-- title [start] -->
						<div class="title"><h2 class="page-title tutspress-bold-font">{{details.name}}</h2></div>
						<!-- title [end] -->

						<!-- Breadcrumb [start]-->
						<div class="archive-breadcrumb-box">
							<ul id="breadcrumbs" class="breadcrumb">
								<li class="breadcrumb-item item-home"><a class="tutspress-link" href="index.html">مدرس: {{details.Author}}</a></li>
								
							</ul>
						</div>
						<!-- Breadcrumb [end]-->
					</div>
				</section>
				<!-- page header [end] -->

				<section class="container single-course-item-box">
					<div class="row">
						<div class="col-lg-8 col-md-12 col-sm-12 col-12">
							<div class="single-course">
								<div class="header py-4 px-5">

									
									<!-- Course title -->
									<h1 class="single-title">{{details.name}}</h1>
									<!-- course information details [start] -->
									<div class="information-bar">
										<ul class="course-info-list">
											<li class="list-item">
												<!-- instructor avatar -->
												<div class="meta-info"><img class="avatar" src="{% static 'assets/img/unknown-user.jpg' %}" alt="Instructor avatar"></div>
												<div class="meta-info-value">
													<label class="d-block course-attr-title">مدرس</label>
													<!-- instructor name -->
													<div class="link-box">
														<a href="#" class="tutspress-link course-val-title">{{details.Author}}</a>
													</div>
												</div>
											</li>
											<li class="list-item">
												<div class="meta-info pt-1 tutspress-text"><i class="far fa-bookmark"></i></div>
												<div class="meta-info-value">
													<label class="d-block course-attr-title">دسته بندی</label>
													<!-- category of course -->
													<div class="link-box">
														<a href="#" class="tutspress-link course-val-title">{{details.category}}</a>
													</div>
												</div>
											</li>
											<li class="list-item">
												<div class="meta-info pt-1 tutspress-text"><i class="fas fa-signal"></i></div>
												<div class="meta-info-value">
													<label class="d-block course-attr-title">سطح</label>
													<!-- level of course -->
													<div class="link-box">
														<span class="course-val-title">{{details.level}}</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<!-- course information details [end] -->
								</div>

								<!-- course image -->
								<div class="post-thumbnail">
									<img class="img-fluid thumbnail" src="{{details.image.url}}" alt="آموزش برنامه نویسی سمت سرور">
								</div>
							</div>
							<div class="single-course mt-4">
								<div class="course-wrapper">

									<!-- tabs [start] -->
									<ul class="nav nav-tabs row m-0" id="course-tab-group" role="tablist">
										<li class="nav-item col-lg-3 col-md-3 col-sm-12 col-12 px-0" role="presentation">
											<a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">بررسی دوره</a>
										</li>
										<li class="nav-item col-lg-3 col-md-3 col-sm-12 col-12 px-0" role="presentation">
											<a class="nav-link" id="curriculum-tab" data-toggle="tab" href="#curriculum" role="tab" aria-controls="curriculum" aria-selected="false">سرفصل ها</a>
										</li>
										
										<li class="nav-item col-lg-3 col-md-3 col-sm-12 col-12 px-0" role="presentation">
											<a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">امتیاز و نظرات</a>
										</li>
									</ul>
									<!-- tabs [end] -->

									<!-- tab content [start] -->
									<div class="tab-content" id="course-tab-content">

										<!-- Overview content [start] -->
										<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
											<div class="content-box">
												{{details.info | safe}}
											</div>
										</div>
										<!-- Overview content [end] -->

										<!-- Curriculum content [start] -->
										<div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
											<div class="lesson-box">

												<!-- course lessons list [start] -->
												<ul class="course-list">

													<!-- section-1 [start] -->
													<li class="course-item">

														<div class="box-of-lessons show" id="course_section1">

															<!-- lessons list [start] -->
															<ul class="course-list sub-course-list">

																{% for cu in details.video_set.all %}
																<!-- lesson [start] -->
																<li class="course-item">
																	<h5 class="lesson-title">
																		<a class="d-block tutspress-link" href="{{cu.video.url}}">
																			<i class="far fa-file-alt"></i>
																			<!-- lesson title -->
																			<span class="title">{{cu.title}}</span>
																			<!-- state -->
																		{% if cu.is_free %}
																			<span class="lesson-state">پیش نمایش</span>
																		{% else %}
																			<span class="lesson-state"><i class="fas fa-lock"></i></span>
																		{% endif %}
																			<!-- duration -->
																			<span class="lesson-duration">{{cu.time}} دقیقه</span>
																		</a>
																	</h5>
																</li>
																</li>
																<!-- lesson [end] -->
																{% endfor %}
	 														</ul>
															<!-- lessons list [start] -->

														</div>
													</li>
													<!-- section-1 [end] -->

												</ul>
												<!-- course lessons list [end] -->
											</div>
										</div>
										<!-- Curriculum content [start] -->

										<!-- Instructor content [start] -->
										
										<!-- Instructor content [start] -->

										<!-- Reviews content [start] -->
										<div class="tab-pane fade reviews-content" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
											<div class="content-box">

												<!-- rating [start] -->
												{% comment %} <div class="rating-box p-4">
													<div class="row">
														<div class="col-xl-3 col-lg-4 col-md-5 col-12 mb-md-0 mb-5 text-center">
															<div class="rate-point">4.5</div>
															<div class="inner-rate-box">
																<div class="link-box tutspress-text">
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																</div>
															</div>
															<div class="mt-1">(6 نظر)</div>
														</div>
														<div class="col-xl-9 col-lg-8 col-md-7 col-12">

															<!-- star 5 [start] -->
															<div class="rate-range-box">
																<span class="tutspress-bold-font"><i class="fas fa-star mr-2"></i>5</span>
																<div class="rate-range">
																	<div id="star-5" class="point-range"></div>
																</div>
																<span>4</span>
															</div>

															<!-- star 4 [start] -->
															<div class="rate-range-box">
																<span class="tutspress-bold-font"><i class="fas fa-star mr-2"></i>4</span>
																<div class="rate-range">
																	<div id="star-4" class="point-range"></div>
																</div>
																<span>1</span>
															</div>

															<!-- star 3 [start] -->
															<div class="rate-range-box">
																<span class="tutspress-bold-font"><i class="fas fa-star mr-2"></i>3</span>
																<div class="rate-range">
																	<div id="star-3" class="point-range"></div>
																</div>
																<span>1</span>
															</div>

															<!-- star 2 [start] -->
															<div class="rate-range-box">
																<span class="tutspress-bold-font"><i class="fas fa-star mr-2"></i>2</span>
																<div class="rate-range">
																	<div id="star-2" class="point-range"></div>
																</div>
																<span>0</span>
															</div>

															<!-- star 1 [start] -->
															<div class="rate-range-box">
																<span class="tutspress-bold-font"><i class="fas fa-star mr-2"></i>1</span>
																<div class="rate-range">
																	<div id="star-1" class="point-range"></div>
																</div>
																<span>0</span>
															</div>

														</div>
													</div>
												</div> {% endcomment %}
												<!-- rating [end] -->

												<!-- Comment [Start] -->
												<div class="comment-box">
														<div class="header"><h3 class="comment-title-section tutspress-bold-font">{{comments.count}} نظر</h3></div>
														<div class="inner-box">
															<!-- Comment list [start] -->
															<ul class="comment-list">
																<!-- Comment 1 [start] -->
																{% for com in comments %}
																<li class="comment-item">
																	<div class="comment-inner-box p-4">
																		<div class="row">
																			<div class="col-2 text-center"><img class="avatar" src="{% static 'assets/img/unknown-user.jpg' %}" alt="avatar"></div>
																			<div class="col-10 p-0">
																				<!-- Commenters Name -->
																				<h6 class="tutspress-bold-font mb-1 text-dark">{{com.username}}</h6>
																				<!-- Commenters Info -->
																				<div class="">{{com.created}}</div>
																				<!-- Comment text -->
																				<p class="my-2">{{com.body}}</p>
																				
																				
																				{% comment %} admin {% endcomment %}
																				{% if com.replay %}
																				<div class="col-2 text-center"><img class="avatar" style="width: 50px;" src="{% static 'assets/img/unknown-user.jpg' %}" alt="avatar"></div>
																				<div class="col-10 p-0">
																					<!-- Commenters Name -->
																					<h6 class="tutspress-bold-font mb-1 text-dark">مدرس:</h6>
																					<!-- Comment text -->
																					<p class="my-2">{{com.replay}}</p>
																					
																					{% comment %} <div><a href="#" class="reply-btn tutspress-transition">پاسخ دادن</a></div> {% endcomment %}
																				</div>
																				{% endif %}
																				{% comment %} admin {% endcomment %}

																				{% comment %} <div><a href="#" class="reply-btn tutspress-transition">پاسخ دادن</a></div> {% endcomment %}
																			</div>
																		</div>
																	</div>
																</li>
																{% endfor %}
																<!-- Comment 1 [end] -->

															</ul>
															<!-- Comment list [end] -->
														</div>
														<div class="comment-form">
															<div class="w-100 my-5 pt-3">
																<h4 class="comment-title-section tutspress-bold-font">نظرات خود را با ما درمیان بگذارید</h4>
															</div>
															<!-- Comment Submit Form [start] -->
															<form method='post' id="comment-form" action="" class="row">
																{% csrf_token %}
																<input name="course" type="hidden" value="{{details.id}}">
																<div class="col-6 form-group px-2 position-rel">
																	<div class="icon"><i class="far fa-envelope-open"></i></div>

																	{{comment_form.username}}
																</div>
																<div class="col-6 form-group px-2 position-rel">
																	<div class="icon"><i class="far fa-user"></i></div>
																	{{comment_form.email}}
																</div>
																<div class="col-12 form-group px-2 position-rel">
																	<div class="icon-textarea"><i class="far fa-edit"></i></div>
																	{{comment_form.body}}
																</div>
																<div class="col-12 px-2 position-rel">
																	<button class="btn btn-submit-comment" type="submit">ارسال پیام</button>
																</div>
															</form>
															<!-- Comment Submit Form [end] -->
														</div>
												</div>
												<!-- Comment [End] -->

											</div>
											<!-- Reviews content [start] -->

										</div>
									</div>
									<!-- tab content [end] -->

								</div>
							</div>

						</div>

						<!-- sidebar [start] -->
						<aside id="course-sidebar" class="col-lg-4 col-md-12 col-sm-12 col-12">

							<!-- Courses detail informations [Start] -->
							<div class="side-widget-box">
								<ul class="course-informations">

									<li class="item">
										<div class="attr">
											<i class="fas fa-file-alt"></i>
											<div class="property">
												نام دوره:
											</div>
										</div>
										<!-- course full name -->
										<span class="value">{{details.name}}</span>
									</li>

									<li class="item">
										<div class="attr">
											<i class="fas fa-chalkboard-teacher"></i>
											<div class="property">
												مدرس:
											</div>
										</div>
										<!-- Instructor name -->
										<span class="value">{{details.Author}}</span>
									</li>

									<li class="item">
										<div class="attr">
											<i class="fas fa-language"></i>
											<div class="property">
											وضعیت دوره:
											</div>
										</div>
										<!-- Language of course -->
										<span class="value">{{details.status}}</span>
									</li>

									

									<li class="item">
										<div class="attr">
											<i class="fas fa-clock"></i>
											<div class="property">
												طول دوره:
											</div>
										</div>
										<!-- course duration -->
										<span class="value">9 ساعت و 50 دقیقه</span>
									</li>

									

									<li class="item">
										<div class="attr">
											<i class="fas fa-signal"></i>
											<div class="property">
												سطح:
											</div>
										</div>
										<!-- level of couurse -->
										<span class="value">{{details.level}}</span>
									</li>

								</ul>
								<!-- Buy Now Button -->

							</div>
							<!-- Courses detail informations [End] -->

						</aside>
						<!-- sidebar [end] -->
					</div>
				</section>
			</div>
{% endblock %}