{% load static %}
<footer>
    <div class="container pt-5 px-lg-5 px-md-2 px-4">

        <!-- Contatct Box [start]-->
        <div class="row contatct-box my-5">
            <div class="col-12 p-3 address-row">
                <div class="float-left mx-3 mb-2 tutspress-text icon-holder">
                    <!-- Address icon -->
                    <i class="fas fa-map-marker-alt icon"></i>
                </div>
                <!-- Address title -->
                <h6 class="text-white my-3 contact-head-title">نشانی:</h6>
                <!-- Address -->
                <p class="text-light">{{footer.locations}}</p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 p-3 mt-3 right-widget-border">
                <div class="icon-holder mx-3  mt-1 tutspress-text">
                    <!-- Call icon -->
                    <i class="fas fa-phone-alt icon"></i>
                </div>
                <!-- Call title -->
                <h6 class="text-white mb-lg-2 mt-3 contact-head-title">شماره تماس</h6>
                <!-- Call Number -->
                <p class="text-light">{{footer.phone_number}}</p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 p-3 mt-3 right-widget-border">
                <div class="icon-holder mx-3  mt-1 tutspress-text">
                    <!-- SMS icon -->
                    <i class="fab fa-telegram-plane"></i>
                </div>
                <!-- SMS title -->
                <h6 class="text-white mb-lg-2 mt-3 contact-head-title">تلگرام</h6>
                <!-- YouTube username -->
                <p class="text-light">{{footer.telegram1}}</p>
                <p class="text-light">{{footer.telegram2}}</p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 p-3 mt-3 right-widget-border">
                <div class="icon-holder mx-3  mt-1 tutspress-text">
                    <!-- YouTube icon -->
                    <i class="fas fa-envelope icon"></i>
                </div>
                <!-- YouTube title -->
                <h6 class="text-white mb-lg-2 mt-3 contact-head-title">پست الکترونیکی</h6>
                <!-- YouTube username -->
                <p class="text-light">{{footer.email}}</p>
                
            </div>

        </div>
        <!-- Contatct Box [End]-->

        <!-- Widget row [start]-->
        <div id="widget-row" class="row">
            
            

        </div>
        <!-- Widget row [End]-->
    </div>

    <!-- copyright row [start]-->
    <div class="copyright-row p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <!-- Footer Text -->
                    <p class="mb-0 text-white">© کلیه ی حقوق برای تاتسپرس محفوظ است 2021</p>
                </div>
                <div class="col-md-4 col-12">
                    <!-- Copyright Text -->
                    <p class="mb-0 text-white pt-2 pt-md-0">طراحی شده توسط گروه برنامه نویسی <a href="http://me-design.ir/" class="copyright-link tutspress-transition" rel="nofollow">ام ای دیزاین</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- widget row [End]-->

</footer>
<!-- Footer [End]-->
