{% extends 'base.html' %}
{% load static %}

{% block body %}

			<div class="archive-page-wrapper">

				<!-- page header [strat] -->
				<section id="search-box-section" class="search-row">
					<div class="container">
						<!-- Caption -->
						<h3 class="text-light text-center mb-2 secondry-title-search animate__animated animate__bounceInDown">دوره های آموزشی رایگان و منحصربفرد</h3>
						<h2 class="text-center tutspress-black-font main-title-search animate__animated animate__fadeInLeft">دنبال چی میگردی؟</h2>
						<div class="tutspress-searchbox">
							<form action="{% url 'video:SearchView' %}" method="get" class="search-form">
								<input class="tutspress-search-input" type="text" placeholder="دوره های آموزشی مدنظرتو پیدا کن" name="filter_name" autocomplete="off"/>
								<button class="search-btn" type="submit" name="button">
										<i class="fas fa-search"></i>
								</button>
							</form>
						</div>
						<p class="text-light text-center mt-2">آموزش هایی در همه سطوح</p>
					</div>
				</section>
				<!-- page header [end] -->

				<section class="container main-items-box">
					<div class="row">

						<!-- blog list [start] -->
						<div class="col-12 mb-3">
							<div class="row">

								<!-- course item 1 [start]-->
								{% for cu in course %}
								<div class="col-lg-4 col-md-6 col-12 filter programming">
									<div class="single-course-box">
										<div class="img-box">
											<a href="{% url 'video:detailview' cu.id %}" class="tutspress-link">
												<!-- course image -->
												<img class="single-course-img tutspress-transition-slow" src="{{cu.image.url}}" alt="course item">
												<!-- course price -->
												<span class="price">99000 تومان</span>
											</a>
										</div>
										<div class="card-content-box">
											<!-- course rate -->
											<ul class="p-0">
												<li class="d-inline"><i class="fas fa-star"></i></li>
												<li class="d-inline"><i class="fas fa-star"></i></li>
												<li class="d-inline"><i class="fas fa-star"></i></li>
												<li class="d-inline"><i class="fas fa-star"></i></li>
												<li class="d-inline"><i class="fas fa-star"></i></li>
											</ul>
											<!-- course title -->
											<h3 class="title"><a class="tutspress-link tutspress-bold-font" href="{% url 'video:detailview' cu.id %}">{{cu.name}}</a></h3>
											<div class="course-meta mt-3">
												<!-- teacher image -->
												{% comment %} <div class="teacher-avatar">
													<a href="#"><img class="avatar" src="{% static 'assets/img/other/user-2.jpg' %}" alt="teacher avatar"></a>
												</div> {% endcomment %}
												<!-- teacher name -->
												<div class="teacher-name">
													<a class="instructor-link tutspress-transition" href="#"><h6 class="instructor">{{cu.Author}}</h6></a>
												</div>
												<!-- student count -->
												<div class="student">
													
													<span class="text-dark">{{cu.level}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<!-- blog list [end] -->

						<div class="col-12 mt-3">
							<!-- pagination [start] -->
							<nav class="pagination-box d-flex flex-row justify-content-around">
								<ul class="pagination">
									{% if course.has_previous %}
									<li class="page-item"><a href="?page={{ course.previous_page_number }}" class="page-link"><i class="fas fa-arrow-left"></i></a></li>
									<li class="page-item"><a href="?page={{ course.previous_page_number }}" class="page-link">{{ course.previous_page_number }}</a></li>
									{% endif %}
									<li class="page-item active"><a class="page-link">{{ course.number }}</a></li>

									{% if course.has_next %}
									<li class="page-item"><a href="?page={{ course.next_page_number }}" class="page-link">{{ course.next_page_number }}</a></li>
									<li class="page-item"><a href="?page={{ course.next_page_number }}" class="page-link"><i class="fas fa-arrow-right"></i></a></li>
									{% endif %}
								</ul>
							</nav>
							<!-- pagination [end] -->
						</div>
					</div>
				</section>
			</div>
{% endblock %}