{% extends 'base.html' %}
{% load static %}
{% block body %}
			<div class="archive-page-wrapper">
				<!-- page header [strat] -->
				<section class="page-header">
					<div class="container inner-box">
						<!-- title [start] -->
						<div class="title"><h2 class="page-title tutspress-bold-font">ثبت نام</h2></div>
						<!-- title [end] -->

						<!-- Breadcrumb [start]-->
						<div class="archive-breadcrumb-box">
							<ul id="breadcrumbs" class="breadcrumb">
								<li class="breadcrumb-item item-home"><a class="tutspress-link" href="index.html">خانه</a></li>
								<li class="breadcrumb-item">ثبت نام</li>
							</ul>
						</div>
						<!-- Breadcrumb [end]-->
					</div>
				</section>
				<!-- page header [end] -->

				<section class="container main-items-box">
					<div class="w-100 login-box">
						<div class="inner-login-box">
							<div class="tutspress-bold-font mb-4"><h4 class="text-center">ثبت نام</h4></div>
							<p class="text-muted text-register mb-1">با صفحات اجتماعی خود ثبت نام کنید</p>

							<!-- social media login button [start] -->
							<div class="social-icons mt-3">
								<a href="#"><i class="fab fa-facebook-f"></i> <span>Facebook</span></a>
								<a href="#"><img class="register-google-icon" src="{% static 'assets/img/other/google-icon.svg' %}" alt="google icon"><span>Google</span></a>
							</div>
							<!-- social media login button [end] -->

							<p class="text-muted text-register-or my-3">یا</p>

							<!-- register form [start] -->
							<form method='post' class="register-form" action="">
								{% csrf_token %}
								<!-- email field [start] -->
								<div class="sign-input-box">
									<input type="text" placeholder="ایمیل" name="username" required>
									<div class="icon"><i class="fas fa-envelope-open"></i></div>
								</div>
								<!-- email field [start] -->

								<!-- password field [start] -->
								<div class="sign-input-box">
									<input type="password" placeholder="رمزعبور" name="password1" required>
									<div class="icon"><i class="fas fa-lock"></i></div>
								</div>
								<!-- password field [start] -->

								<!-- register button [start] -->
								<div class="sign-input-box button">
									<input class="tutspress-bg-color" type="submit" value="ثبت نام">
								</div>
								<!-- register button [end] -->

								<div class="mt-4 text-center">
									قبلا ثبت نام کرده اید؟ <a class="tutspress-text" href="login.html">ورود</a>
								</div>
								<div class="mt-1 text-center">
									رمز عبور را فراموش کرده اید؟
									<a class="tutspress-text" href="#">بازنشانی رمز عبور</a>
								</div>

							</form>
							<!-- register form [end] -->
						</div>
					</div>
				</section>
			</div>
{% endblock %}